<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Page Object Runner">
        <groups>
            <run>
                <exclude name="x"/>
            </run>
        </groups>

        <classes>
            <class name="plan.TestOne"></class>
        </classes>

    </test>
</suite>